.sidebar {
	flex-basis: 450px;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 2rem;

	img {
		width: 170px;
		border-radius: 50%;
		border: 3px solid #fff;
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__text {
		text-align: center;
		margin: 2rem 0;

		h1 {
			margin: 0;
		}

		p {
			margin: 0;
		}

		i {
			color: #fff;
			padding: 1.2rem;
		}

		i:hover {
			color: $color-dark;
		}
	}

	&__nav {
		display: flex;
		flex-direction: column;
		text-align: center;

		a {
			color: #fff;
			text-decoration: none;
			padding: 0.6rem 1.2rem;
			border-bottom: solid 3px transparent;
		}

		a:hover {
			background-color: $color-primary;
			color: $color-dark;
		}

		.is-active {
			border-bottom: solid 3px $color-dark;
			color: $color-dark;
			//background-color: $color-mid;
			font-weight: bold;
		}
	}

	.close-nav {
		background: none;
		border: none;
		font-size: 4rem;
		margin-top: 2rem;
		margin-right: 2rem;
		align-self: flex-end;
		visibility: hidden;
	}

	.copyright {
		text-align: center;
		font-size: 1.2rem;
	}
}

@media (max-width: 1000px) {
	.sidebar {
		width: 50%;
		height: 100%;
		border-radius: 0px;
		background: linear-gradient($color-light, $color-secondary);
		position: fixed;
		top: 0;
		right: 0;
		transition: all 0.3s linear;
		transform: translate(100%);

		.close-nav {
			visibility: visible;
		}
	}
}

.show-sidebar {
	transform: translate(0%);
}

@media (max-width: 700px) {
	.sidebar {
		img {
			width: 130px;
		}
		width: 60%;
		font-size: 1.6rem;
	}

	.close-nav {
		font-size: 3rem;
		margin-top: 1.6rem;
		margin-right: 1.6rem;
		align-self: flex-end;
		visibility: hidden;
	}
}

@media (max-width: 500px) {
	.sidebar {
		width: 70%;

		img {
			width: 100px;
		}
	}

	.sidebar__text {
		margin: 1rem;

		i {
			padding: 0.8rem 1rem;
		}
	}

	.sidebar__nav a {
		padding: 0.3rem 0.8rem;
	}
}
