$color-primary: #05d3a1;
$color-secondary: #048b7e;
$color-light: #7ddca8;
$color-mid: #00bb94;
$color-dark: #353040;
$color-text: #727272;

span {
	color: $color-light;
	font-weight: bold;
}

.hp-6 {
	//Horizontal padding 3 rem
	padding: 0 6rem;
}

.vp-6 {
	//Horizontal padding 3 rem
	padding: 6rem 0 3rem 0;
}

@media (max-width: 600px) {
	.hp-6 {
		padding: 0 3rem;
	}

	.vp-6 {
		padding: 3rem 0 0 0;
	}
}
