.hero {
	line-height: 1;
	font-size: 2rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	padding: 2rem;
	box-sizing: border-box;

	h1 {
		font-size: 5rem;
	}

	p {
		margin: 1rem;
	}

	a {
		display: inline-block;
		text-decoration: none;
		color: #fff;
		border: none;
		background: linear-gradient($color-light, $color-secondary);
		padding: 0.8rem 1.4rem;
		margin: 1rem;
		border-radius: 5px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);

		&:hover {
			color: $color-dark;
			font-weight: bold;
			transform: scale(1.08);
		}
	}

	img {
		width: 40px;
		animation-name: hop;
		animation-duration: 0.7s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}

	@keyframes hop {
		from {
			transform: translatey(0);
		}

		to {
			transform: translatey(10px);
		}
	}
	.scroll__icon {
		text-align: center;
	}
}

.about {
	font-size: 1.6rem;

	a {
		color: $color-text;
	}

	ul {
		list-style: none;
	}

	&__content {
		// display: grid;
		// grid-template-columns: 1fr 1fr;
		// gap: 2rem;
		display: flex;
		justify-content: space-between;

		&--text {
			width: 50%;
		}

		&--list {
			width: 45%;
		}
	}
}

@media (max-width: 765px) {
	.about {
		ul {
			margin: 0;
			padding: 0;
		}

		&__content {
			flex-direction: column;

			&--text {
				width: 100%;
				margin-bottom: 3rem;
			}

			&--list {
				width: 100%;
				//font-size: 1.6rem;
			}
		}
	}
}
